{% extends "base.html"%}
{% block title%}Manage users dito{% endblock%}
{% block content%}
<h1>Manage Users</h1>
<a href="/add-user"><button>Add User</button></a>
<br><br>

<table>
    <thead>
        <th>#</th>
        <th>Email</th>
        <th>Name</th>
        <th>ACTIONS</th>
    </thead>
    <tbody>
        {% for user in users%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['name'] }}</td>
                <td>
                    <a href="{{ url_for('view', id =user['id']) }}" class="btn btn-info btn-sm">View</a>
                    <a href="{{ url_for('edit', id = user['id'])}}"><button>Edit</button></a>
                    <a href="{{ url_for('delete', id = user['id'])}}"><button>Delete</button></a>
                </td>
            </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock%}